<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>

	<key>NSCameraUsageDescription</key>
    <string>Necesitamos acceso a la cámara para tomar fotos del checklist</string>

    <key>NSPhotoLibraryUsageDescription</key>
    <string>Necesitamos acceso a tus fotos para seleccionar imágenes del checklist</string>

    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Necesitamos acceso para guardar fotos en tu galería</string>
</dict>
</plist>
